/* Lists */
ul,
ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans", sans;
  line-height: 1.4;
  margin: 0 0 1em;
  padding: 0;
  word-wrap: break-word;
}

/* Buttons */
button {
  background-color: #0088cc;
  border: 0.125em solid #0088cc;
  border-radius: 0.25em;
  color: #ffffff;

  display: block;
  font-size: 0.9375em;
  font-weight: normal;
  line-height: 1.2;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
  padding: 0.5em 0.6875em;
}

button:hover,
button:active {
  background-color: #f7f7f7;
  border-color: #808080;
  color: #272727;
}

[aria-pressed="true"] {
  background-color: #ff4136;
  border-color: #ff4136;
  color: #ffffff;
}

[aria-pressed="false"] {
  background-color: #a27d79;
  border-color: #ff4136;
  color: #a11414;
}