/* contains styles for: carousel swiper*/

body {
  /* outline: 4px solid gold; */

  background-color: #d5e1ef;
  width: 100dvw;
  min-width: 300px;
  margin: 0 auto;

  /* center the .container */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  /* outline: 4px solid black; */

  width: 100%;

  /* height is % of body height */
  height: 100%;

  /* center the .swiper in the .container div */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.swiper {
  /* outline: 3px dashed brown; */

  width: 100%;
  margin: 0 auto;

  /* height % of .container height */
  height: 95%;
}

.swiper-wrapper {
  /* outline: 2px solid red; */

  width: 100%;

  /* height = 100% of .swiper height */
  height: 100%;

  /* *flex not needed cos it will disrupt the .swiper */
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; */
}

.swiper-slide {
  /* outline: 2px solid green; */

  /* center the .card within the .swiper-slide */
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  /* height = 100% of .swiper-wrapper height */
  height: 100%;
}

.card {
  /* outline: 2px solid blue; */

  background-color: #f9fafe;
  opacity: 0.5;
  box-shadow: none;

  /* height = % of 
  .swiper-slide height===.swiper height */
  height: 54%;
  max-height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  transition: transform 400ms;
}

.avatar {
  /* outline: 2px solid pink; */

  border: 5px solid #f9fafe;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.quote-icon {
  /* outline: 2px solid pink; */

  position: absolute;
  z-index: 1;
  opacity: 0.05;
  left: 3%;
  top: 0;
}

.header {
  /* outline: 2px solid pink; */

  text-align: center;
}

.name {
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.title {
  /* outline: 2px solid purple; */

  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #7ccdc5;
}

.quote-container {
  /* outline: 2px solid red; */

  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
  max-width: 300px;
  padding: 0 0.4rem;
}

.quote {
  /* outline: 2px solid rebeccapurple; */

  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #73808c;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

/* *Javascript influenced classes */
.swiper-slide-active {
  z-index: 1;
}

.swiper-slide-active .card {
  box-shadow: 0 8px 30px -7px #c9dff0;
  opacity: 1;
  transform: scale(1.65);
}

/** Mobile view */
/* max-width: 500px */
@media screen and (width <=31.25em) {

  .swiper-slide {
    /* outline: 2px solid green; */

    /* will change with screen size */
    padding-top: 1rem;
  }

  .card {
    /* outline: 2px solid blue; */

    /* will change with screen size */
    max-width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    row-gap: 0.4rem;

    /* height: auto; */
  }

  .avatar {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .quote-icon {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 30px;
    height: 30px;
  }

  .name {
    /* will change with screen size */
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
  }

  .title {
    /* outline: 2px solid purple; */

    /* will change with screen size */
    font-size: 0.5rem;
    padding: 0;
    line-height: 1.5;
  }

  .quote {
    /* outline: 2px solid rebeccapurple; */

    /* will change with screen size */
    font-size: 0.5rem;
    line-height: 1.4;
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/* Mobile landscape & Tablet Portrait screens */
/* (min-width > 500px ) & (max-width <= 875px) */
@media screen and (width > 31.25em) and (width <=54.68em) {

  .swiper-slide {
    /* outline: 2px solid green; */

    /* will change with screen size */
    padding-top: 1rem;
  }

  .card {
    /* outline: 2px solid blue; */

    /* will change with screen size */
    max-width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;

    row-gap: 0.4rem;
  }

  .avatar {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .quote-icon {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 50px;
    height: 50px;
  }

  .name {
    /* will change with screen size */
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }

  .title {
    /* outline: 2px solid purple; */

    /* will change with screen size */
    font-size: 0.6rem;
  }

  .quote {
    /* outline: 2px solid rebeccapurple; */

    /* will change with screen size */
    font-size: 0.6rem;
    line-height: 1.5;
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 875px and <= 1400px */
@media screen and (width > 54.68em) and (width <=87.5em) {

  .swiper-slide {
    /* outline: 2px solid green; */

    /* will change with screen size */
    padding-top: 2rem;
  }

  .card {
    /* outline: 2px solid blue; */

    /* will change with screen size */
    max-width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 2.5rem;
    padding-bottom: 0.8rem;

    row-gap: 0.6rem;
  }

  .avatar {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }

  .quote-icon {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 60px;
    height: 60px;
  }

  .name {
    /* will change with screen size */
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  .title {
    /* outline: 2px solid purple; */

    /* will change with screen size */
    font-size: 0.6rem;
  }

  .quote {
    /* outline: 2px solid rebeccapurple; */

    /* will change with screen size */
    font-size: 0.6rem;
    line-height: 1.5;
  }
}

/*        */
/*        */
/*        */
/*        */
/*        */

/** Screens > 1400px */
@media screen and (width > 87.5em) {

  .swiper-slide {
    /* outline: 2px solid green; */

    /* will change with screen size */
    padding-top: 2rem;
  }

  .card {
    /* outline: 2px solid blue; */

    /* will change with screen size */
    width: 550px;
    border-radius: 10px;
    padding-top: 4rem;
    padding-bottom: 1rem;

    max-height: 50%;

    row-gap: 0.8rem;
  }

  .avatar {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid #f9fafe;
    box-shadow: 0 0 50px #ccc;
  }

  .quote-icon {
    /* outline: 2px solid pink; */

    /* will change with screen size */
    width: 100px;
    height: 100px;
  }

  .name {
    /* will change with screen size */
    font-size: 1.375rem;
    margin-bottom: 0.4rem;
  }

  .title {
    /* outline: 2px solid purple; */

    /* will change with screen size */
    font-size: 0.875rem;
  }

  .quote-container {
    /* outline: 2px solid red; */

    /* will change with screen size */
    padding: 0 1.875rem;
    max-width: 450px;
  }

  .quote {
    /* outline: 2px solid rebeccapurple; */

    /* will change with screen size */
    font-size: 0.65rem;
  }
}

/*        */
/*        */
/*  Height media      */
/*        */
/*        */

/* *for media with height <= 400px */
@media (max-height: 40px) {
  .avatar {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
  }

  .header {
    margin: 40px 0 0 0;
  }

  .name {
    font-size: 12px;
  }

  .title {
    font-size: 10px;
  }

  .quote-container {
    padding: 5px 20px 20px 20px;
  }

  .quote-icon {
    width: 75px;
    height: 75px;
  }
}